### SBT ###
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

### Scala ###
*.class
*.log

### Idea ###
*.iml
*.ipr
*.iws
.idea
out

tags
.*.swp
.*.swo